{% extends "bootstrap/base.html" %}
{% block title %}Gorgias | Refund Policy{% endblock %}

{% block content %}
<div class="container">

  <div class="row mb-2 mt-3">
    <!-- Column 1 -->
    <div class="col-md-6">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">

             <form class="form-horizontal">
                <fieldset>

                <!-- Form Name -->
                <legend>Refund Policy</legend>

                <!-- Text input-->
                <div class="form-group">
                  <label class="control-label" for="serialnumber">Serial Number</label>
                  <div class="">
                  <input id="serialnumber" name="serialnumber" type="text" placeholder="e.g. EN1234" class="form-control input-md" required="">

                  </div>
                </div>

                <!-- Prepended checkbox -->
                <div class="form-group">
                  <label class="control-label" for="repair">Repair Price</label>
                  <div class="">
                    <div class="input-group">
                      <span class="input-group-addon">
                          <input type="checkbox">
                      </span>
                      <input id="repair" name="repair" class="form-control" type="text" placeholder="price in EURO ">
                    </div>

                  </div>
                </div>

                <!-- Multiple Checkboxes -->
                <div class="form-group mw-100">
                  <label class="control-label" for="additional">Additional Infromation</label>
                  <div class="">
                  <div class="checkbox">
                    <label for="additional-0">
                      <input type="checkbox" name="additional" id="additional-0" value="caused">
                      Caused by customer
                    </label>
                    </div>
                  <div class="checkbox">
                    <label for="additional-1">
                      <input type="checkbox" name="additional" id="additional-1" value="selling">
                      Product in stock
                    </label>
                    </div>
                  </div>
                </div>

                <!-- Button -->
                <div class="form-group">
                  <label class="control-label" for="submit"></label>
                  <div class="">
                    <button id="submit" name="submit" class="btn btn-success">Submit</button>
                  </div>
                </div>

                </fieldset>
             </form>

        </div>
      </div>
    </div>

    <!-- Column 2 -->
    <div class="col-md-6">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">

        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}